header {
    max-width: 1170px;
    margin: 20px 135px;
    display: flex;
    justify-content: space-between;
}

nav {
    margin: 20px 0;
}

nav li {
    list-style: none;
    display: inline;
    margin: 0 5px;
}

nav li a {
    color: var(--purple);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

@media screen and (max-width: 768px){
    header {
        display: block;
        padding: 0 20px;
        margin: 0 auto;
    }
    nav li {
        display: block;
        width: 100%;
    }
}
